.wrapper {
  min-height: 80px;

  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
}

.editor {
  order: -1;
  line-height: 1.5;
  padding: 10px;
  z-index: 1;
}

.popup {
  bottom: 35px !important;
  top: initial !important;
}
